{% extends "main.html" %} {% load static %} {% block title %} Sobre nosotros 
{% endblock %} {% block content %}

<div class="about-us-section">
  <header class="hero-section-about" style="background-image: url('{% static 'media/about_truck.jpg' %}');">
    <div class="hero-content-about">
        <h1>Bienvenidos a Nuestra Historia</h1>
        <p>Tu aliado confiable en la excelencia</p>
    </div>
  </header>
</div>



  <section class="who-we-are my-5">
    <h2 class="text-center">Quiénes Somos</h2>
    <p class="text-center">
      En <strong>Nuestra Empresa</strong>, estamos dedicados a ofrecer los
      mejores productos y servicios para satisfacer tus necesidades. Con una
      pasión por la innovación y un compromiso con la calidad, nos esforzamos
      por marcar la diferencia en nuestra industria.
    </p>
  </section>

  <section class="values-section bg-light py-5">
    <h2 class="text-center mb-5">Nuestros Valores</h2>
    <div class="row text-center">
      <div class="col-md-4">
        <h4>Integridad</h4>
        <p>Creemos en hacer lo correcto, siempre.</p>
      </div>
      <div class="col-md-4">
        <h4>Innovación</h4>
        <p>Mejorando constantemente para servirte mejor.</p>
      </div>
      <div class="col-md-4">
        <h4>Excelencia</h4>
        <p>Buscando la perfección en cada detalle.</p>
      </div>
    </div>
  </section>

  <section class="team-section my-5">
    <h2 class="text-center">Conoce al Equipo</h2>
    <div class="row text-center">
      <div class="col-md-4">
        <img
          src="https://via.placeholder.com/150"
          alt="Miembro del Equipo 1"
          class="team-photo"
        />
        <h5>Juan Pérez</h5>
        <p>CEO & Fundador</p>
      </div>
      <div class="col-md-4">
        <img
          src="https://via.placeholder.com/150"
          alt="Miembro del Equipo 2"
          class="team-photo"
        />
        <h5>María López</h5>
        <p>Directora de Operaciones</p>
      </div>
      <div class="col-md-4">
        <img
          src="https://via.placeholder.com/150"
          alt="Miembro del Equipo 3"
          class="team-photo"
        />
        <h5>Carlos Sánchez</h5>
        <p>Jefe de Marketing</p>
      </div>
    </div>
  </section>
</div>
{% endblock %}
