{% extends "main.html" %}
 {% load static %}
  {% block title %}Contacto{% endblock %}

{% block content %}
  <div class="contact-div contact-form-container">
  <h1 class="text-center">Contacto</h1>
  <p class="text-center">¡Nos encantaría saber de ti! Por favor, completa el formulario y te responderemos lo antes posible.</p>
    {% if messages %}
  <div class="mt-4">
    {% for message in messages %}
      <div class="alert alert-info" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}
  <form action="{% url 'contact' %}" method="post" class="contact-form">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_name">{{ form.name.label }}</label>
      {{ form.name }}
    </div>
    
    <!-- Correo Electrónico -->
    <div class="form-group">
      <label for="id_email">{{ form.email.label }}</label>
      {{ form.email }}
    </div>
    
    <!-- Mensaje -->
    <div class="form-group">
      <label for="id_content">{{ form.content.label }}</label>
      {{ form.content }}
    </div>
    
    <!-- Botón Enviar -->
    <div class="form-group text-center">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form>
</div>

{% endblock %}
